<!DOCTYPE html>
<html>
  <head>
    <title>Todo List App Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="jumbotron">
            <h1 class="display-4">Welcome to Todo List App!</h1>
            <p class="lead">Get organized and stay productive with our todo list app.</p>
            <hr class="my-4" />
            <p>Please log in or sign up to access your account.</p>
            <a class="btn btn-primary btn-lg mr-3" href="/login" role="button">Log in</a>
            <a class="btn btn-secondary btn-lg" href="/signup" role="button">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
